# === Secrets / config ===
config/config_template.json

# === Data and database ===
data/
db/
output/

# === Python cache and compiled files ===
__pycache__/
*.py[cod]
*.so

# === Logs and debugging ===
*.log
*.sqlite*
logs/
*.db

# === Virtual environments ===
.env
.venv
env/
venv/

# === Test scripts and checkpoints ===
src/testing/
.ipynb_checkpoints/

# === IDE and tool settings ===
*.idea/
.vscode/
.spyderproject
.ropeproject
.pyre/
.pytype/
.mypy_cache/
.ruff_cache/
.pdm-python
.pixi/
__pypackages__/
.pytest_cache/
.hypothesis/
.dmypy.json
.coverage*
.coverage
.cache
.tox/
.nox/

# === Build and dist ===
build/
dist/
*.egg-info/
.eggs/
MANIFEST
develop-eggs/
sdist/
wheels/
share/python-wheels/
downloads/
